# Exclude node modules and logs
node_modules
logs
*.log
npm-debug.log*

# Exclude version control files
.git
.gitignore

# Exclude development files
.vscode
.idea
.env.example
client-example.js

# Exclude Docker files
Dockerfile
docker-compose.yml
.dockerignore
